[Unit]
Description=@monitory-app/linux-agent
After=network.target

[Service]
EnvironmentFile=/var/opt/monitory-agent/.env
Type=simple
ExecStart=/root/.bun/bin/bun /var/opt/monitory-agent/index.ts
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bun-service

[Install]
WantedBy=multi-user.target