[Unit]
Description=@monitory-app/linux-agent
After=network.target

[Service]
EnvironmentFile=/var/opt/monitoring-agent/.env
Type=simple
ExecStart=bun /var/opt/monitoring-agent/index.ts
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bun-service

[Install]
WantedBy=multi-user.target